In [36]:
import scipy
import matplotlib as mpl
import pandas as pd

In [37]:
ones = pd.read_csv('./Quarter/nyc.csv')
zeros = pd.read_csv('./Quarter/zed.csv')

df = pd.concat([ones, zeros])
df

,geoId,gridID,day_name,month_name,date,year,hour,lat,lon,tempf,vis,num_establishments,num_liquor_stores,num_restaurants,num_stores,num_bars,expected
0,36047028100,29233,Sunday,Jan,1/1/06 0:01,2006,1,40.693350,-73.938089,32.00,10.0,11,0,0,2,0,1
1,36005042500,36209,Sunday,Jan,1/1/06 0:10,2006,1,40.869713,-73.879388,32.00,10.0,14,0,1,4,0,1
2,36005039500,33933,Sunday,Jan,1/1/06 0:55,2006,1,40.849663,-73.898324,32.00,10.0,22,0,0,11,0,1
3,36047042900,31288,Sunday,Jan,1/1/06 2:25,2006,1,40.701964,-73.921047,32.00,9.0,29,0,0,8,0,1
4,36081028300,35607,Sunday,Jan,1/1/06 2:30,2006,1,40.747886,-73.885068,32.00,9.0,198,0,17,48,5,1
5,36047117400,36337,Sunday,Jan,1/1/06 2:30,2006,1,40.686171,-73.879388,32.00,9.0,7,0,0,1,0,1
6,36061027900,30035,Sunday,Jan,1/1/06 2:30,2006,1,40.856824,-73.930515,32.00,9.0,15,0,0,4,0,1
7,36061004100,22344,Sunday,Jan,1/1/06 3:00,2006,1,40.720623,-73.994898,32.00,9.0,199,1,28,66,10,1
8,36047029900,30617,Sunday,Jan,1/1/06 3:00,2006,1,40.678991,-73.926728,32.00,9.0,41,0,0,8,0,1
9,36005022300,31878,Sunday,Jan,1/1/06 3:00,2006,1,40.841068,-73.915366,32.00,9.0,29,0,1,7,2,1
10,36061003800,22798,Sunday,Jan,1/1/06 3:15,2006,1,40.726364,-73.991111,32.00,9.0,174,0,22,31,17,1
11,36061020102,27094,Sunday,Jan,1/1/06 4:00,2006,1,40.805244,-73.955132,32.00,10.0,106,1,11,19,3,1
12,36005013300,33494,Sunday,Jan,1/1/06 4:10,2006,1,40.822442,-73.902111,32.00,10.0,33,0,2,6,0,1
13,36047026900,28784,Sunday,Jan,1/1/06 4:15,2006,1,40.680427,-73.941877,32.00,10.0,93,0,7,22,1,1
14,36047027300,29013,Sunday,Jan,1/1/06 4:20,2006,1,40.680427,-73.939983,32.00,10.0,83,1,8,13,1,1
15,36061018000,29164,Sunday,Jan,1/1/06 4:30,2006,1,40.792343,-73.938089,32.00,10.0,45,0,0,6,0,1
16,36061002601,24175,Sunday,Jan,1/1/06 4:45,2006,1,40.722059,-73.979749,32.00,10.0,94,0,3,8,1,1
17,36047087200,29491,Sunday,Jan,1/1/06 5:00,2006,1,40.651700,-73.936196,33.08,10.0,55,1,2,13,1,1
18,36047036100,31768,Sunday,Jan,1/1/06 5:00,2006,1,40.670374,-73.917260,33.08,10.0,23,0,0,5,0,1
19,36061022800,28232,Sunday,Jan,1/1/06 5:30,2006,1,40.815277,-73.945664,33.08,10.0,76,0,4,7,0,1
20,36047024700,27639,Sunday,Jan,1/1/06 5:45,2006,1,40.680427,-73.951345,33.08,10.0,92,0,5,47,0,1
21,36047093200,30188,Sunday,Jan,1/1/06 6:00,2006,1,40.637332,-73.930515,33.98,10.0,20,0,0,6,0,1
22,36081046200,47314,Sunday,Jan,1/1/06 6:00,2006,1,40.707706,-73.788494,33.98,10.0,98,1,9,26,1,1
23,36061019600,29156,Sunday,Jan,1/1/06 7:10,2006,2,40.803811,-73.938089,33.98,8.0,70,1,1,23,0,1
24,36081018200,45963,Sunday,Jan,1/1/06 7:20,2006,2,40.674682,-73.799856,33.98,8.0,47,1,3,10,0,1
25,36047039300,30378,Sunday,Jan,1/1/06 8:45,2006,2,40.693350,-73.928621,35.06,9.0,54,1,6,15,0,1
26,36005001600,38990,Sunday,Jan,1/1/06 10:30,2006,2,40.822442,-73.856664,37.94,10.0,29,0,0,4,0,1
27,36061022400,28236,Sunday,Jan,1/1/06 10:45,2006,2,40.809544,-73.945664,37.94,10.0,91,0,3,3,3,1
28,36047098600,34304,Sunday,Jan,1/1/06 13:20,2006,3,40.645953,-73.896430,41.00,10.0,24,0,0,6,0,1
29,36061013300,23458,Sunday,Jan,1/1/06 13:30,2006,3,40.765099,-73.985430,41.00,10.0,153,1,4,17,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433293,36081090700,42454,Thursday,Dec,12/31/15 23:00,2015,4,40.780873,-73.828260,42.08,10.0,27,0,0,1,0,0
433294,36081077500,42274,Thursday,Dec,12/31/15 23:00,2015,4,40.710577,-73.830154,42.08,10.0,11,0,0,1,0,0
433295,36081021400,44108,Thursday,Dec,12/31/15 23:00,2015,4,40.707706,-73.815005,42.08,10.0,4,0,0,1,0,0
433296,36085007000,12129,Thursday,Dec,12/31/15 23:00,2015,4,40.591333,-74.080110,42.08,10.0,3,0,0,1,0,0
433297,36081033402,49627,Thursday,Dec,12/31/15 23:00,2015,4,40.674682,-73.769558,42.08,10.0,7,0,0,1,0,0
433298,36005011000,41291,Thursday,Dec,12/31/15 23:00,2015,4,40.806678,-73.837728,42.08,10.0,0,0,0,0,0,0
433299,36085017700,9375,Thursday,Dec,12/31/15 23:00,2015,4,40.599961,-74.102833,42.08,10.0,2,0,0,0,0,0
433300,36047040700,33360,Thursday,Dec,12/31/15 23:00,2015,4,40.686171,-73.904005,42.08,10.0,0,0,0,0,0,0
433301,36081090700,41312,Thursday,Dec,12/31/15 23:00,2015,4,40.776571,-73.837728,42.08,10.0,2,0,0,0,0,0
433302,36061023700,28220,Thursday,Dec,12/31/15 23:00,2015,4,40.832472,-73.945664,42.08,10.0,30,0,1,2,0,0
433303,36005013500,33263,Thursday,Dec,12/31/15 23:00,2015,4,40.825308,-73.904005,42.08,10.0,5,0,0,1,0,0
433304,36047107000,36829,Thursday,Dec,12/31/15 23:00,2015,4,40.637332,-73.875600,42.08,10.0,0,0,0,0,0,0
433305,36047050000,24684,Thursday,Dec,12/31/15 23:00,2015,4,40.648827,-73.975962,42.08,10.0,20,0,1,0,1,0
433306,36081129102,52105,Thursday,Dec,12/31/15 23:00,2015,4,40.733539,-73.748729,42.08,10.0,5,0,0,0,0,0
433307,36085007000,13272,Thursday,Dec,12/31/15 23:00,2015,4,40.594209,-74.070642,42.08,10.0,17,0,0,4,0,0
433308,36081035300,36743,Thursday,Dec,12/31/15 23:00,2015,4,40.760796,-73.875600,42.08,10.0,9,0,0,0,0,0
433309,36085990100,14654,Thursday,Dec,12/31/15 23:00,2015,4,40.582705,-74.059280,42.08,10.0,0,0,0,0,0,0
433310,36081107202,47612,Thursday,Dec,12/31/15 23:00,2015,4,40.608587,-73.786601,42.08,10.0,0,0,0,0,0,0
433311,36081062900,36326,Thursday,Dec,12/31/15 23:00,2015,4,40.701964,-73.879388,42.08,10.0,45,0,4,8,2,0
433312,36081071600,48969,Thursday,Dec,12/31/15 23:00,2015,4,40.633021,-73.775239,42.08,10.0,0,0,0,0,0,0
433313,36047022900,27178,Thursday,Dec,12/31/15 23:00,2015,4,40.684735,-73.955132,42.08,10.0,34,0,2,5,0,0
433314,36081152901,53696,Thursday,Dec,12/31/15 23:00,2015,4,40.750755,-73.735473,42.08,10.0,2,0,0,2,0,0
433315,36085022800,446,Thursday,Dec,12/31/15 23:00,2015,4,40.597085,-74.176684,42.08,10.0,0,0,0,0,0,0
433316,36085990100,16251,Thursday,Dec,12/31/15 23:00,2015,4,40.591333,-74.046025,42.08,10.0,0,0,0,0,0,0
433317,36081099100,45650,Thursday,Dec,12/31/15 23:00,2015,4,40.795210,-73.801750,42.08,10.0,4,0,0,0,0,0
433318,36005038301,33928,Thursday,Dec,12/31/15 23:00,2015,4,40.856824,-73.898324,42.08,10.0,26,0,1,1,0,0
433319,36081034700,36507,Thursday,Dec,12/31/15 23:00,2015,4,40.770835,-73.877494,42.08,10.0,0,0,0,0,0,0
433320,36081144100,50485,Thursday,Dec,12/31/15 23:00,2015,4,40.757927,-73.761984,42.08,10.0,3,0,0,0,0,0
433321,36081001900,28736,Thursday,Dec,12/31/15 23:00,2015,4,40.749321,-73.941877,42.08,10.0,56,0,2,10,2,0
433322,36047018000,20820,Thursday,Dec,12/31/15 23:00,2015,4,40.607149,-74.008153,42.08,10.0,11,0,0,0,0,0

In [38]:
from patsy import dmatrices
import statsmodels.api as sm

In [39]:
y, X = dmatrices('expected ~ day_name + month_name + year + hour + tempf + vis + num_establishments + num_liquor_stores + num_restaurants + num_stores + num_bars', data=df, return_type='dataframe')

In [40]:
mod = sm.OLS(y, X)
res = mod.fit()
print res.summary()

                            OLS Regression Results
==============================================================================
Dep. Variable:               expected   R-squared:                       0.131
Model:                            OLS   Adj. R-squared:                  0.131
Method:                 Least Squares   F-statistic:                     3634.
Date:                Mon, 12 Dec 2016   Prob (F-statistic):               0.00
Time:                        11:03:13   Log-Likelihood:            -3.6327e+05
No. Observations:              624564   AIC:                         7.266e+05
Df Residuals:                  624537   BIC:                         7.269e+05
Df Model:                          26
Covariance Type:            nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [95.0% Conf. Int.]
-----------------------------------------------------------------------------------------
Intercept                11.5532      0.385     30.039      0.000        10.799    12.307
day_name[T.Monday]       -0.0019      0.002     -0.942      0.346        -0.006     0.002
day_name[T.Saturday]     -0.0143      0.002     -6.979      0.000        -0.018    -0.010
day_name[T.Sunday]       -0.0192      0.002     -9.359      0.000        -0.023    -0.015
day_name[T.Thursday]     -0.0109      0.002     -5.320      0.000        -0.015    -0.007
day_name[T.Tuesday]      -0.0069      0.002     -3.383      0.001        -0.011    -0.003
day_name[T.Wednesday]    -0.0064      0.002     -3.132      0.002        -0.010    -0.002
month_name[T.Aug]         0.0329      0.003     10.940      0.000         0.027     0.039
month_name[T.Dec]         0.0430      0.003     15.050      0.000         0.037     0.049
month_name[T.Feb]        -0.0022      0.003     -0.728      0.466        -0.008     0.004
month_name[T.Jan]         0.0368      0.003     12.248      0.000         0.031     0.043
month_name[T.Jul]         0.0272      0.003      8.812      0.000         0.021     0.033
month_name[T.Jun]         0.0211      0.003      7.137      0.000         0.015     0.027
month_name[T.Mar]         0.0018      0.003      0.621      0.535        -0.004     0.007
month_name[T.May]         0.0201      0.003      7.227      0.000         0.015     0.026
month_name[T.Nov]         0.0412      0.003     15.062      0.000         0.036     0.047
month_name[T.Oct]         0.0500      0.003     18.605      0.000         0.045     0.055
month_name[T.Sep]         0.0405      0.003     14.120      0.000         0.035     0.046
year                     -0.0057      0.000    -29.752      0.000        -0.006    -0.005
hour                      0.0161      0.000     32.649      0.000         0.015     0.017
tempf                     0.0003   6.39e-05      4.978      0.000         0.000     0.000
vis                       0.0016      0.000      6.477      0.000         0.001     0.002
num_establishments        0.0029   2.09e-05    137.037      0.000         0.003     0.003
num_liquor_stores         0.0886      0.001     60.161      0.000         0.086     0.091
num_restaurants           0.0142      0.000     56.821      0.000         0.014     0.015
num_stores               -0.0006   5.58e-05    -10.675      0.000        -0.001    -0.000
num_bars                 -0.0369      0.001    -72.024      0.000        -0.038    -0.036
==============================================================================
Omnibus:                    56480.085   Durbin-Watson:                   0.266
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            65511.233
Skew:                           0.763   Prob(JB):                         0.00
Kurtosis:                       2.567   Cond. No.                     1.41e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.41e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

In [41]:
y, X = dmatrices('expected ~ num_establishments + num_liquor_stores + num_restaurants + num_stores + num_bars', data=df, return_type='dataframe')
mod = sm.OLS(y, X)
res = mod.fit()
print res.summary()

                            OLS Regression Results
==============================================================================
Dep. Variable:               expected   R-squared:                       0.127
Model:                            OLS   Adj. R-squared:                  0.127
Method:                 Least Squares   F-statistic:                 1.810e+04
Date:                Mon, 12 Dec 2016   Prob (F-statistic):               0.00
Time:                        11:03:14   Log-Likelihood:            -3.6501e+05
No. Observations:              624564   AIC:                         7.300e+05
Df Residuals:                  624558   BIC:                         7.301e+05
Df Model:                           5
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [95.0% Conf. Int.]
--------------------------------------------------------------------------------------
Intercept              0.2019      0.001    305.045      0.000         0.201     0.203
num_establishments     0.0029   2.09e-05    137.547      0.000         0.003     0.003
num_liquor_stores      0.0888      0.001     60.163      0.000         0.086     0.092
num_restaurants        0.0142      0.000     56.553      0.000         0.014     0.015
num_stores            -0.0006    5.6e-05    -10.383      0.000        -0.001    -0.000
num_bars              -0.0373      0.001    -72.590      0.000        -0.038    -0.036
==============================================================================
Omnibus:                    57702.003   Durbin-Watson:                   0.267
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            66930.107
Skew:                           0.771   Prob(JB):                         0.00
Kurtosis:                       2.558   Cond. No.                         152.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [42]:
from sklearn import linear_model

y_val = list(df.expected.values)

model = linear_model.LogisticRegression().fit(X,y_val)

In [43]:
print model.coef_

[[  6.80797198e-01  -1.28826471e-02  -4.20265567e-01  -8.03191926e-02
    2.31047878e-03   1.95368074e-01]
 [ -6.82769524e-01   1.28135834e-02   4.18488330e-01   7.94598258e-02
   -2.28761244e-03  -1.93492092e-01]
 [ -3.49931929e+00   7.98721452e-03   1.85305357e-01   3.18141289e-02
   -3.74092559e-03  -1.09947837e-01]
 [ -5.29418240e+00   7.46613555e-03   4.15058721e-01   9.55843039e-02
   -9.00555735e-02  -1.06930914e-01]
 [ -5.52850561e+00  -3.99432382e-03   6.97007809e-01  -7.44201609e-01
   -3.04775360e-02  -1.66624700e-01]
 [ -5.29912320e+00  -1.48693165e-01  -1.98688554e-01   8.07480150e-02
    8.96553932e-02  -6.51756550e-02]]

In [44]:
y, X = dmatrices('expected ~ num_establishments', data=df, return_type='dataframe')
mod = sm.OLS(y, X)
res = mod.fit()
print res.summary()

                            OLS Regression Results
==============================================================================
Dep. Variable:               expected   R-squared:                       0.113
Model:                            OLS   Adj. R-squared:                  0.113
Method:                 Least Squares   F-statistic:                 7.939e+04
Date:                Mon, 12 Dec 2016   Prob (F-statistic):               0.00
Time:                        11:03:29   Log-Likelihood:            -3.6990e+05
No. Observations:              624564   AIC:                         7.398e+05
Df Residuals:                  624562   BIC:                         7.398e+05
Df Model:                           1
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [95.0% Conf. Int.]
--------------------------------------------------------------------------------------
Intercept              0.2066      0.001    313.359      0.000         0.205     0.208
num_establishments     0.0034   1.21e-05    281.765      0.000         0.003     0.003
==============================================================================
Omnibus:                    62124.812   Durbin-Watson:                   0.239
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            68271.256
Skew:                           0.767   Prob(JB):                         0.00
Kurtosis:                       2.479   Cond. No.                         65.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [45]:
y, X = dmatrices('expected ~ num_liquor_stores + num_restaurants + num_stores + num_bars', data=df, return_type='dataframe')
mod = sm.OLS(y, X)
res = mod.fit()
print res.summary()

                            OLS Regression Results
==============================================================================
Dep. Variable:               expected   R-squared:                       0.100
Model:                            OLS   Adj. R-squared:                  0.100
Method:                 Least Squares   F-statistic:                 1.737e+04
Date:                Mon, 12 Dec 2016   Prob (F-statistic):               0.00
Time:                        11:03:29   Log-Likelihood:            -3.7433e+05
No. Observations:              624564   AIC:                         7.487e+05
Df Residuals:                  624559   BIC:                         7.487e+05
Df Model:                           4
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [95.0% Conf. Int.]
-------------------------------------------------------------------------------------
Intercept             0.2375      0.001    384.085      0.000         0.236     0.239
num_liquor_stores     0.1174      0.001     79.119      0.000         0.114     0.120
num_restaurants       0.0258      0.000    107.901      0.000         0.025     0.026
num_stores            0.0028    5.1e-05     55.047      0.000         0.003     0.003
num_bars             -0.0372      0.001    -71.248      0.000        -0.038    -0.036
==============================================================================
Omnibus:                    66097.850   Durbin-Watson:                   0.214
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            75738.614
Skew:                           0.815   Prob(JB):                         0.00
Kurtosis:                       2.494   Cond. No.                         47.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## Visualizing crime

In [46]:
from ggplot import *

In [47]:
# df14 = df.drop(df[df.year != 2014.0].index)

In [48]:
# bars = ggplot(df, aes('expected', 'num_bars')) + \
#     geom_point()
    
# bars

In [57]:
#add up number of crimes in each zone between 2010-2015
df10 = df.drop(df[df.year != 2010].index)
df10['expected'].max()

0

In [51]:
places_dict = {}

for index, row in df.iterrows():
    if row['gridID'] not in places_dict:
        info = {'expected': row['expected']}
        places_dict[row['gridID']] = row['expected']
    else:
        curr = places_dict[row['gridID']]
        places_dict[row['gridID']] = curr + row['expected']

2015